{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a New Page</h1>
<form action="{% url 'save' %}" method="POST">
    {% csrf_token %}
    <label>Title:</label>
    <br>
    <input type="text" placeholder="Enter the title of your page" name="title" >
    <br>
    <label>Markdown content:</label>
    <br>
    <textarea name="content" rows="2" cols="30"></textarea>
    <br>
    <input type="submit" value="Save New Page" class="btn btn-success">
</form>

{% endblock %}